body{
    background-color: #b1e1e4;
}
.bod{
    display: grid;
    place-items: center;
    margin:0;
    padding: 10px;
}

header{
  background-color: #144a4d;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.float {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #1a5d61;
  color: white;
}

.calendar {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    border-radius: 15px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
}

.btn{
    cursor: pointer;
    color: black;
}

#month-year{
    font-weight: bold;
}

.weekdays, .days{
    display: flex;
    flex-wrap: wrap;
}
#days{
    height:240px;
}

.weekdays div, .days div{
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div{
    cursor: pointer;
    transition: background-color 0.3s;
}

.days div:hover{
    background-color: white;
    color: orangered;
}

.days .today{
    background-color: orangered;
    color: white;
}

.days .fade{
    color: #555;
}